#----------------------------------------------------------------------------------------------------------------------
#
#----------------------------------------------------------------------------------------------------------------------

snippet today
`date +%Y/%m/%d`
endsnippet

snippet gen "Generate for loop"
genvar ${1:i};
generate
	for ($1=0; $1<${2:max}; $1=$1+1'b1) begin : $1_loop
	end
endgenerate

endsnippet


snippet always "Always block"
always @(posedge ${1:clock}) begin
end

endsnippet

snippet SRL
wire srl_${1:dly}_adr;
SRL16E u_srl_$1 (
	.CLK(${2:clock}),
	.CE (1'b1),
	.A0 (srl_$1_adr[0]),.A1(srl_$1_adr[1]),.A2(srl_$1_adr[2]),.A3(srl_$1_adr[3]),
	.D  (${3:D}),
	.Q  (${4:Q})
);

endsnippet

#----------------------------------------------------------------------------------------------------------------------
#
#----------------------------------------------------------------------------------------------------------------------

snippet module "Verilog module"

\`timescale 1ns / 100 ps

module ${1:name} (

);

//----------------------------------------------------------------------------------------------------------------------
endmodule
//----------------------------------------------------------------------------------------------------------------------

endsnippet


snippet case "Verilog case"
case (${1:statement})
    $2 : $3
    default :
endcase
endsnippet

snippet keep "Verilog Keep"
(* keep = "true" *)
endsnippet

snippet function "Verilog function"
module simple_function();

function  ${1:myfunction};
input a, b, c, d;
begin
    $1 = ((a+b) + (c-d));
end
endfunction

endmodule
endsnippet

snippet description
//--------------------------------------------------------------------------------
// ${1:CMS Muon Endcap}
// ${2:GEM Collaboration}
// ${3:Project} -- ${4:Description}
// ${4:A. Peck}
//--------------------------------------------------------------------------------
// Description:
//   $5
//--------------------------------------------------------------------------------
// `date +%Y/%m/%d` --
//--------------------------------------------------------------------------------
endsnippet
