snippet comment "insert comment"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" ${1:Comment}
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet Plug "VimPlug"
Plug '${1:plugin}'
endsnippet
