snippet th1f "TH1F"
oTH1F* h1 = new TH1F ("name", "title",  nbinsx, xlow, xhigh);
endsnippet

snippet th2f "TH2F"
oTH2F* h2 = new TH2F ("name", "title",  nbinsx, xlow, xhigh, nbinsy, ylow, yhigh);
endsnippet

snippet th1d "TH1D"
oTH1D* h1 = new TH1D ("name", "title",  nbinsx, xlow, xhigh);
endsnippet

snippet th2d "TH2D"
oTH2D* h2 = new TH2D ("name", "title",  nbinsx, xlow, xhigh, nbinsy, ylow, yhigh);
endsnippet
